$ban_cen:1230px;
.header {
    .site_topbar {
        position: relative;
        width: 100%;
        z-index: 30;
        height: 40px;
        font-size: 12px;
        color: #b0b0b0;
        background: #333;
        .top_nav {
            width: 1226px;
            margin-right: auto;
            margin-left: auto;
            .top_nav_info {
                float: left;
                height: 40px;
                line-height: 40px;
                a {
                    font-size: 12px;
                    color: #b0b0b0;
                    line-height: 40px;
                    display: inline-block;
                }
                .sep {
                    margin: 0 3.5px;
                    color: #424242;
                }
                a:hover {
                    color: #fff;
                    cursor: pointer;
                }
            }
            .top_card {
                position: relative;
                float: right;
                width: 120px;
                height: 40px;
                margin-left: 15px;
                -webkit-transition: all .2s;
                transition: all .2s;
                font-size: 12px;
                a {
                    position: relative;
                    z-index: 32;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #b0b0b0;
                    background: #424242;
                    em {
                        margin-right: 4px;
                        // font-size: 20px;
                        line-height: 20px;
                        vertical-align: -4px;
                        font-style: normal;
                        font-weight: bold;
                    }
                }
                a:hover {
                    color: #ff6700;
                    background: #fff;
                }
                .cart_msg {
                    display: none;
                }
            }
            .top_info {
                position: relative;
                float: right;
                height: 40px;
                line-height: 40px;
                a {
                    padding: 0 5px;
                    text-align: center;
                    display: inline-block;
                    line-height: 40px;
                }
                a:hover {
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
    .site_header {
        width: 100%;
        z-index: 20;
        height: 100px;
        position: relative;
        .container {
            width: 1226px;
            margin-right: auto;
            margin-left: auto;
            .head_logo {
                float: left;
                width: 62px;
                margin-top: 22px;
                a {
                    position: relative;
                    display: block;
                    width: 55px;
                    height: 55px;
                    overflow: hidden;
                    text-align: left;
                    text-indent: -9999em;
                    background: url(../img/mi-logo.png) no-repeat 50% 50%;
                    opacity: 1;
                    background-color: #ff6700;
                    transform: translateZ(0);
                }
                a:hover {
                    background: url(../img/mi-home.png) no-repeat 50% 50%;
                    background-color: #ff6700;
                    transition: all .5s linear;
                }
            }
            .header_nav {
                float: left;
                width: 850px;
                .nav_list {
                    position: relative;
                    z-index: 10;
                    float: left;
                    width: 1100px;
                    height: 88px;
                    margin: 0;
                    padding: 12px 0 0 30px;
                    list-style-type: none;
                    font-size: 16px;
                    .all_sale {
                        float: left;
                        width: 100px;
                        position: relative;
                        height: 100%;
                        padding-top: 3.5px;
                        line-height: 80px;
                        font-size: 16px;
                        color: #333;
                        // background-color: chartreuse;
                        .all_sale_show {
                            position: absolute;
                            display: none;
                            top: 88px;
                            left: -92px;
                            z-index: 21;
                            width: 234px;
                            height: 460px;
                            font-size: 14px;
                            background-color: red;
                            .home_menu {
                                height: 418px;
                                margin: 0;
                                padding: 20px 0;
                                list-style-type: none;
                                border: 1px solid #ff6700;
                                color: #424242;
                                background: #fff;
                                position: relative;
                                width: 100%;
                                >li {
                                    width: 100%;
                                    height: 42px;
                                    >a {
                                        display: block;
                                        padding-left: 30px;
                                        height: 42px;
                                        line-height: 42px;
                                        color: #424242;
                                    }
                                    .home_menu_children {
                                        display: none;
                                        width: 992px;
                                        position: absolute;
                                        left: 234px;
                                        top: 0;
                                        z-index: 30;
                                        height: 458px;
                                        border: 1px solid #e0e0e0;
                                        border-left: 0;
                                        background: #fff;
                                        // background-color: chartreuse;
                                        -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
                                        box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
                                        .menu_list {
                                            width: 100%;
                                            >li {
                                                float: left;
                                                a {
                                                    display: block;
                                                    padding: 18px 20px;
                                                    line-height: 40px;
                                                    color: #333;
                                                    -webkit-transition: color .2s;
                                                    transition: color .2s;
                                                    // background-color: red;
                                                    height: 40px;
                                                    img {
                                                        height: 40px;
                                                        width: 40px;
                                                        float: left;
                                                        margin-right: 12px;
                                                        vertical-align: middle;
                                                    }
                                                    span {
                                                        float: left;
                                                        width: 172px;
                                                        line-height: 40px;
                                                        white-space: nowrap;
                                                        text-overflow: ellipsis;
                                                        overflow: hidden;
                                                    }
                                                }
                                                a:hover {
                                                    background-color: #fff;
                                                    color: #ff6700;
                                                }
                                            }
                                        }
                                    }
                                    >a:hover {
                                        background-color: #ff6700;
                                    }
                                }
                            }
                        }
                    }
                    .all_sale>p:hover {
                        color: #ff6700;
                    }
                    li {
                        height: 100%;
                        float: left;
                        padding-right: 22px;
                        >a {
                            display: block;
                            height: 100%;
                            // padding: 26px 10px 38px;
                            line-height: 88px;
                            font-size: 16px;
                            color: #333;
                        }
                        >a:hover {
                            color: #ff6700;
                        }
                        .item_children {
                            display: none;
                            position: absolute;
                            // width: 1100px;
                            left: -65px;
                            z-index: 23;
                            background-color: #fff;
                            // background-color: chartreuse;
                            border-bottom: 1px solid #e0e0e0;
                            // padding-bottom: 30px;
                            ul>li::before {
                                position: absolute;
                                left: 0;
                                top: 35px;
                                z-index: 1;
                                width: 1px;
                                height: 100px;
                                content: "";
                                background-color: #e0e0e0;
                            }
                            ul>li {
                                position: relative;
                                float: left;
                                width: 180px;
                                padding: 35px 12px 0;
                                text-align: center;
                                padding-bottom: 30px;
                                a {
                                    cursor: pointer;
                                    color: #757575;
                                    div {
                                        width: 160px;
                                        height: 110px;
                                        margin: 0 auto 16px;
                                        text-align: center;
                                        img {
                                            width: 160px;
                                            height: 110px;
                                        }
                                    }
                                    h2 {
                                        line-height: 20px;
                                        font-size: 12px;
                                    }
                                    p {
                                        margin: 0;
                                        line-height: 20px;
                                        color: #ff6700;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header_search {
                float: right;
                width: 296px;
                margin-top: 25px;
                form {
                    position: relative;
                    width: 296px;
                    height: 50px;
                    z-index: 20;
                    background-color: chartreuse;
                    #search {
                        float: left;
                        outline: none;
                        width: 223px;
                        border: 1px solid #e0e0e0;
                        height: 48px;
                        font-size: 14px;
                        line-height: 48px;
                        padding: 0 10px;
                    }
                    #submit {
                        float: left;
                        outline: none;
                        border: 1px solid #e0e0e0;
                        width: 50px;
                        height: 50px;
                        background-color: #fff;
                    }
                    #submit:hover {
                        background-color: #ff6700;
                        ;
                    }
                    .hot_key {
                        display: none;
                    }
                }
            }
        }
    }
}

.cent_nav {
    .pro_box {
        position: relative;
        z-index: 4;
        background: #fff;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .07);
        box-shadow: 0 5px 5px rgba(0, 0, 0, .07);
        .nav_bar {
            position: relative;
            height: 63px;
            width: 100%;
            margin-top: 0;
            color: #616161;
            .container {
                width: 1226px;
                margin: 0 auto;
                h2 {
                    margin: 0;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 60px;
                    color: #424242;
                    float: left;
                }
                .con {
                    .left {
                        float: left;
                        margin-left: 5px;
                        font-size: 12px;
                        margin-top: 21px;
                        margin: 17px 0 0 0;
                        color: #616161;
                    }
                    .right {
                        float: right;
                        margin: 17px 0 0 0;
                    }
                    .seq {
                        margin: 0 5px;
                        color: #424242;
                    }
                    a {
                        color: #616161;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.mi_detail {
    width: 100%;
    .mi_box {
        width: 1226px;
        margin: 0 auto;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 12px;
        .img_left {
            width: 606px;
            position: relative;
            .pos_left {
                position: absolute;
                top: 0;
                img {
                    width: 560px;
                    height: 560px;
                }
            }
        }
        .pro_con {
            flex: 1;
            margin-left: 20px;
            h2 {
                margin: 0;
                padding: 0;
                font-size: 24px;
                font-weight: 400;
                color: #212121;
            }
            .sale_desc {
                color: #b0b0b0;
                margin: 0;
                padding: 0;
                padding-top: 8px;
                line-height: 1.5;
            }
            .price_info {
                display: block;
                line-height: 1;
                padding: 12px 0 10px;
                span {
                    color: #ff6700;
                    font-size: 18px;
                }
            }
            .line {
                margin-top: 12px;
                border-bottom: 1px solid #e0e0e0;
            }
            .sub_info {
                position: relative;
                height: 52px;
                background: url(../img/booking.png) 50% 0 no-repeat;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                color: #fff;
                margin-top: 15px;
                .lef {
                    flex: 1;
                    height: 100%;
                    line-height: 52px;
                    span {
                        text-align: right;
                        width: 55px;
                        line-height: 52px;
                        font-size: 14px;
                        display: block;
                        float: left;
                    }
                    .d_p {
                        font-size: 22px;
                        margin-left: 8px;
                        width: 100px;
                    }
                }
                .rig {
                    max-width: 200px;
                    display: inline-block;
                    font-size: 12px;
                    height: 30px;
                    margin-top: 11px;
                    line-height: 30px;
                    .th,
                    .tm,
                    .ts {
                        text-align: center;
                        vertical-align: middle;
                        width: 18px;
                        height: 18px;
                        background: #c20000;
                        border-radius: 2px;
                        margin: 0 6px;
                        line-height: 16px;
                        display: inline-block;
                    }
                }
            }
            .choice {
                width: 100%;
                margin-top: 20px;
                height: 90px;
                p {
                    width: 100px;
                    line-height: 40px;
                    font-size: 20px;
                    // background-color: red;
                }
                .co {
                    width: 100%;
                    span {
                        margin-right: 12px;
                        margin-top: 10px;
                        line-height: 42px;
                        height: 42px;
                        position: relative;
                        border: 1px solid #e0e0e0;
                        list-style: none;
                        cursor: pointer;
                        -webkit-transition: all .2s ease;
                        transition: all .2s ease;
                        float: left;
                        width: 286px;
                        font-size: 16px;
                        text-align: center;
                    }
                    span:hover {
                        color: #ff6700;
                        border: 1px solid #ff6700;
                    }
                }
            }
        }
    }
}