.top_banner {
    height: 120px;
    width: 100%;
    position: relative;
    a {
        position: absolute;
        top: 0;
        width: 100%;
        height: 120px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: auto 120px;
        text-indent: -9999px;
        background-image: url("../img/top_banner.jpg");
    }
}

.header {
    .site_topbar {
        position: relative;
        width: 100%;
        z-index: 30;
        height: 40px;
        font-size: 12px;
        color: #b0b0b0;
        background: #333;
        .top_nav {
            width: 1226px;
            margin-right: auto;
            margin-left: auto;
            .top_nav_info {
                float: left;
                height: 40px;
                line-height: 40px;
                a {
                    font-size: 12px;
                    color: #b0b0b0;
                    line-height: 40px;
                    display: inline-block;
                }
                .sep {
                    margin: 0 3.5px;
                    color: #424242;
                }
                a:hover {
                    color: #fff;
                    cursor: pointer;
                }
            }
            .top_card {
                position: relative;
                float: right;
                width: 120px;
                height: 40px;
                margin-left: 15px;
                -webkit-transition: all .2s;
                transition: all .2s;
                font-size: 12px;
                a {
                    position: relative;
                    z-index: 32;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #b0b0b0;
                    background: #424242;
                    em {
                        margin-right: 4px;
                        // font-size: 20px;
                        line-height: 20px;
                        vertical-align: -4px;
                        font-style: normal;
                        font-weight: bold;
                    }
                }
                a:hover {
                    color: #ff6700;
                    background: #fff;
                }
                .cart_msg {
                    display: none;
                }
            }
            .top_info {
                position: relative;
                float: right;
                height: 40px;
                line-height: 40px;
                a {
                    padding: 0 5px;
                    text-align: center;
                    display: inline-block;
                    line-height: 40px;
                }
                a:hover {
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
    .site_header {
        width: 100%;
        z-index: 20;
        height: 100px;
        position: relative;
        .container {
            width: 1226px;
            margin-right: auto;
            margin-left: auto;
            .head_logo {
                float: left;
                width: 62px;
                margin-top: 22px;
                a {
                    position: relative;
                    display: block;
                    width: 55px;
                    height: 55px;
                    overflow: hidden;
                    text-align: left;
                    text-indent: -9999em;
                    background: url(../img/mi-logo.png) no-repeat 50% 50%;
                    opacity: 1;
                    background-color: #ff6700;
                    transform: translateZ(0);
                }
                a:hover {
                    background: url(../img/mi-home.png) no-repeat 50% 50%;
                    background-color: #ff6700;
                    transition: all .5s linear;
                }
            }
            .header_nav {
                float: left;
                width: 850px;
                .nav_list {
                    position: relative;
                    z-index: 10;
                    float: left;
                    width: 1100px;
                    height: 88px;
                    margin: 0;
                    padding: 12px 0 0 30px;
                    list-style-type: none;
                    font-size: 16px;
                    .all_sale {
                        float: left;
                        width: 100px;
                        position: relative;
                        height: 100%;
                        padding-top: 3.5px;
                        line-height: 80px;
                        font-size: 16px;
                        color: #333;
                        // background-color: chartreuse;
                        .all_sale_show {
                            position: absolute;
                            display: none;
                            top: 88px;
                            left: -92px;
                            z-index: 21;
                            width: 234px;
                            height: 460px;
                            font-size: 14px;
                            .home_menu {
                                height: 418px;
                                margin: 0;
                                padding: 20px 0;
                                list-style-type: none;
                                border: 1px solid #ff6700;
                                color: #424242;
                                position: relative;
                                width: 100%;
                                background: rgba(105, 101, 101, .6);
                                >li {
                                    width: 100%;
                                    height: 42px;
                                    >a {
                                        display: block;
                                        padding-left: 30px;
                                        height: 42px;
                                        line-height: 42px;
                                        color: #fff;
                                    }
                                    .home_menu_children {
                                        display: none;
                                        width: 992px;
                                        position: absolute;
                                        left: 234px;
                                        top: 0;
                                        z-index: 30;
                                        height: 458px;
                                        opacity: 1 !important;
                                        border: 1px solid #e0e0e0;
                                        border-left: 0;
                                        background-color: #fff;
                                        // background-color: chartreuse;
                                        -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
                                        box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
                                        .menu_list {
                                            width: 100%;
                                            >li {
                                                float: left;
                                                a {
                                                    display: block;
                                                    padding: 18px 20px;
                                                    line-height: 40px;
                                                    color: #333;
                                                    -webkit-transition: color .2s;
                                                    transition: color .2s;
                                                    // background-color: red;
                                                    height: 40px;
                                                    img {
                                                        height: 40px;
                                                        width: 40px;
                                                        float: left;
                                                        margin-right: 12px;
                                                        vertical-align: middle;
                                                    }
                                                    span {
                                                        float: left;
                                                        width: 172px;
                                                        line-height: 40px;
                                                        white-space: nowrap;
                                                        text-overflow: ellipsis;
                                                        overflow: hidden;
                                                    }
                                                }
                                                a:hover {
                                                    background-color: #fff;
                                                    color: #ff6700;
                                                }
                                            }
                                        }
                                    }
                                    >a:hover {
                                        background-color: #ff6700;
                                    }
                                }
                            }
                        }
                    }
                    .all_sale>p:hover {
                        color: #ff6700;
                    }
                    li {
                        height: 100%;
                        float: left;
                        padding-right: 22px;
                        >a {
                            display: block;
                            height: 100%;
                            // padding: 26px 10px 38px;
                            line-height: 88px;
                            font-size: 16px;
                            color: #333;
                        }
                        >a:hover {
                            color: #ff6700;
                        }
                        .item_children {
                            display: none;
                            position: absolute;
                            // width: 1100px;
                            left: -65px;
                            z-index: 23;
                            background-color: #fff;
                            // background-color: chartreuse;
                            border-bottom: 1px solid #e0e0e0;
                            // padding-bottom: 30px;
                            ul>li::before {
                                position: absolute;
                                left: 0;
                                top: 35px;
                                z-index: 1;
                                width: 1px;
                                height: 100px;
                                content: "";
                                background-color: #e0e0e0;
                            }
                            ul>li {
                                position: relative;
                                float: left;
                                width: 180px;
                                padding: 35px 12px 0;
                                text-align: center;
                                padding-bottom: 30px;
                                a {
                                    cursor: pointer;
                                    color: #757575;
                                    div {
                                        width: 160px;
                                        height: 110px;
                                        margin: 0 auto 16px;
                                        text-align: center;
                                        img {
                                            width: 160px;
                                            height: 110px;
                                        }
                                    }
                                    h2 {
                                        line-height: 20px;
                                        font-size: 12px;
                                    }
                                    p {
                                        margin: 0;
                                        line-height: 20px;
                                        color: #ff6700;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header_search {
                float: right;
                width: 296px;
                margin-top: 25px;
                form {
                    position: relative;
                    width: 296px;
                    height: 50px;
                    z-index: 20;
                    background-color: chartreuse;
                    #search {
                        float: left;
                        outline: none;
                        width: 223px;
                        border: 1px solid #e0e0e0;
                        height: 48px;
                        font-size: 14px;
                        line-height: 48px;
                        padding: 0 10px;
                    }
                    #submit {
                        float: left;
                        outline: none;
                        border: 1px solid #e0e0e0;
                        width: 50px;
                        height: 50px;
                        background-color: #fff;
                    }
                    #submit:hover {
                        background-color: #ff6700;
                        ;
                    }
                    .hot_key {
                        display: none;
                    }
                }
            }
        }
    }
}

.bigframe {
    width: 1226px;
    height: 460px;
    margin: 0 auto;
}

.home_row {
    height: 170px;
    width: 1240px;
    margin-top: 14px;
    margin-bottom: 26px;
    .span1 {
        float: left;
        width: 234px;
        height: 170px;
        background: #333;
        opacity: 0.8;
        .row_list {
            float: left;
            .lei:before {
                width: 64px;
                height: 1px;
                position: absolute;
                right: 3px;
                content: "";
                background: #665e57;
            }
            .boss:after {
                width: 1px;
                height: 70px;
                position: absolute;
                top: 6px;
                content: "";
                background: #665e57;
            }
            li {
                position: relative;
                float: left;
                width: 70px;
                height: 82px;
                padding: 0 3px;
                font-size: 12px;
                img {
                    opacity: 0.5;
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin: 0 auto 4px;
                    &:hover {
                        opacity: 1;
                        color: white;
                    }
                }
                span {
                    margin-top: 8px;
                    text-align: center;
                    display: block;
                }
                a {
                    width: 70px;
                    height: 64px;
                    margin-top: 14px;
                    display: block;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    .span2 {
        float: right;
        ul {
            float: right;
            li {
                margin-left: 15px;
                float: left;
                width: 312px;
                height: 170px;
                a img {
                    width: 312px;
                    height: 170px;
                }
            }
        }
    }
}

.main-wrap {
    width: 1226px;
    background: #f5f5f5;
    .main {
        .boxheader {
            height: 398px;
            // background: salmon; 
            margin-bottom: 22px;
            position: relative;
            .box-hd {
                position: relative;
                height: 58px;
                -webkit-font-smoothing: antialiased;
                .title {
                    margin: 0;
                    font-size: 22px;
                    font-weight: 200;
                    line-height: 58px;
                    color: #333
                }
                .left {
                    position: absolute;
                    right: 30px;
                    top: 29px;
                    display: inline-block;
                    width: 24px;
                    height: 16px;
                    padding: 3px 5px;
                    border: 1px solid #e0e0e0;
                    font-size: 16px;
                    line-height: 16px;
                    color: #b0b0b0;
                    text-align: center;
                    cursor: pointer;
                }
                .right {
                    position: absolute;
                    right: 0px;
                    top: 29px;
                    display: inline-block;
                    width: 14px;
                    height: 16px;
                    padding: 3px 5px;
                    border: 1px solid #e0e0e0;
                    font-size: 16px;
                    line-height: 16px;
                    color: #b0b0b0;
                    text-align: center;
                    padding-left: 10px;
                    cursor: pointer;
                }
            }
            .box-main {
                width: 1226px;
                height: 340px;
                /* background: sandybrown;*/
                .row {
                    position: relative;
                    width: 100%;
                    height: 340px;
                    .span3 {
                        /* display: none; */
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 234px;
                        border-top: 1px solid red;
                        height: 300px;
                        padding-top: 39px;
                        border-top-width: 1px;
                        border-top-style: solid;
                        background: #f1eded;
                        text-align: center;
                        float: left;
                        min-height: 1px;
                        z-index: 100;
                        .run {
                            width: 234px;
                            height: 46px;
                            font-size: 21px;
                            color: #ef3a3b;
                            padding-top: 15px;
                            i {
                                font-size: 60px;
                                color: red;
                                margin: 0 auto;
                            }
                        }
                        desc {
                            width: 234px;
                            height: 22px;
                            line-height: 22px;
                            color: rgba(0, 0, 0, .54);
                            font-size: 15px;
                            margin-top: 20px;
                        }
                        .time {
                            width: 168px;
                            height: 46px;
                            margin: 28px auto 0;
                            text-align: center;
                            ol .on {
                                width: 15px;
                                height: 46px;
                                line-height: 46px;
                            }
                            ol .pan {
                                width: 46px;
                                height: 46px;
                                background: #605751;
                                color: #fff;
                                font-size: 24px;
                                line-height: 46px;
                            }
                            ol li {
                                float: left;
                            }
                        }
                    }
                    .animate-wrap {
                        width: 978px;
                        margin-left: 248px;
                        overflow: hidden;
                        // background-color: chartreuse;
                        .animate {
                            // width: 4464px;
                            width: 992px;
                            height: 340px;
                            position: relative;
                            overflow: hidden;
                            ul {
                                float: left;
                                overflow: hidden;
                                width: 4960px;
                                height: 340px;
                                // background-color: chartreuse;
                                li {
                                    float: left;
                                    width: 234px;
                                    height: 340px;
                                    background: white;
                                    color: #757575;
                                    margin-right: 14px;
                                    text-align: center;
                                }
                                .cloum a {
                                    display: block;
                                    p {
                                        margin-top: 20px;
                                        color: #ff6700;
                                    }
                                    h3 {
                                        margin-top: 20px;
                                    }
                                    span {
                                        margin-top: 20px;
                                        color: #ccc;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .banner img {
            width: 1226px;
            height: 120px;
            margin: 22px 0;
        }
        .shouji {
            position: relative;
            height: 58px;
            width: 1226px;
            h3 {
                margin: 0;
                font-size: 22px;
                font-weight: 200;
                line-height: 58px;
                color: #333
            }
            .more {
                position: absolute;
                right: 0;
                top: 29px;
                a {
                    display: block;
                    font-size: 16px;
                    color: #424242;
                    &:hover {
                        color: #ff6700;
                    }
                    i {
                        font-size: 18px;
                        padding-left: 5px;
                    }
                }
            }
        }
        .box-list {
            position: relative;
            width: 1226px;
            height: 628px;
            .box-left img {
                width: 234px;
                height: 614px;
                margin-bottom: 14px;
                &:hover {
                    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
                }
            }
            .box-right {
                position: absolute;
                top: -14px;
                left: 234px;
                width: 992px;
                height: 614px;
                margin-bottom: 14px;
                ul {
                    float: left;
                    li {
                        background-color: white;
                        text-align: center;
                        margin-left: 14px;
                        padding: 20px 0;
                        width: 234px;
                        height: 260px;
                        float: left;
                        margin-top: 14px;
                        &:hover {
                            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
                        }
                        p {
                            color: #ff6700;
                            margin: 0 10px;
                            margin-top: 10px;
                        }
                        span {
                            color: #ccc;
                            font-size: 12px;
                            margin: 0 10px;
                        }
                        img {
                            width: 160px;
                            height: 160px;
                            margin-top: -10px;
                        }
                    }
                }
            }
        }
        .jiadian {
            height: 58px;
            h3 {
                float: left;
                margin: 0;
                font-size: 22px;
                font-weight: 200;
                line-height: 58px;
                color: #333;
            }
            .table-list ul {
                float: right;
                li {
                    font-size: 16px;
                    line-height: 58px;
                    color: #424242;
                    float: left;
                    &:hover {
                        color: #ff6700;
                    }
                }
                .li1 {
                    margin: 0 30px;
                }
            }
        }
        .row li:hover {
            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
        }
        .row {
            width: 1226px;
            height: 628px;
            .row-left {
                float: left;
                width: 234px;
                height: 628px;
                ul li {
                    margin-bottom: 14px;
                    img {
                        width: 234px;
                        height: 300px;
                    }
                }
            }
            .row-right {
                width: 992px;
                float: right;
                overflow: hidden;
                // .show{
                //   display: none;
                //  }
                ul {
                    float: left;
                    li {
                        text-align: center;
                        margin-left: 14px;
                        background: white;
                        float: left;
                        width: 234px;
                        height: 260px;
                        float: left;
                        padding: 20px 0;
                        margin-bottom: 14px;
                        img {
                            margin-top: -10px;
                            width: 160px;
                            height: 160px;
                        }
                        h3 {
                            margin-top: -10px;
                            margin-bottom: 3px;
                        }
                        del {
                            margin-left: 5px;
                        }
                        p {
                            color: #ff6700;
                            margin: 0 10px;
                            margin-top: 10px;
                        }
                        span {
                            color: #ccc;
                            font-size: 12px;
                            margin: 0 10px;
                        }
                    }
                    .lio {
                        position: relative;
                        background: rgb(245, 245, 245);
                        width: 234px;
                        margin: 0;
                        margin-left: 14px;
                        padding: 0;
                        height: 300px;
                        .top {
                            margin-left: 14px;
                            margin: 0;
                            margin-bottom: 14px;
                            padding: 0;
                            width: 234px;
                            height: 143px;
                            background: white;
                            img {
                                position: absolute;
                                top: 50px;
                                right: 0px;
                                display: block;
                                width: 80px;
                                height: 80px;
                                margin-right: 10px;
                            }
                            .t {
                                text-align: left;
                                width: 94px;
                                height: 66px;
                                position: absolute;
                                left: 40px;
                                margin-top: 50px;
                            }
                        }
                        .bt {
                            position: relative;
                            margin-left: 14px;
                            margin: 0;
                            padding: 0;
                            width: 234px;
                            height: 143px;
                            background: white;
                            .b {
                                position: absolute;
                                left: 40px;
                                margin-top: 50px;
                            }
                            h4 {
                                display: block;
                                font-size: 18px;
                                color: #333;
                            }
                            h5 {
                                margin-top: 5px;
                                display: block;
                                font-size: 12px;
                                color: #757575;
                            }
                            a i {
                                display: block;
                                color: #ff6700;
                                margin-left: 100px;
                                margin-top: 40px;
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
        }
        .view {
            width: 1226px;
            height: 299px;
            ul {
                float: left;
                .video {
                    margin-left: 14px;
                }
                li {
                    position: relative;
                    width: 296px;
                    height: 285px;
                    margin-bottom: 14px;
                    background: white;
                    float: left;
                    &:hover {
                        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
                    }
                    h3 {
                        margin: 0 14px 6px;
                        margin-top: 30px;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                        color: #333;
                    }
                    a i {
                        color: white;
                        position: absolute;
                        top: 140px;
                        left: 20px;
                        font-size: 30px;
                        &:hover {
                            color: #ff6700;
                        }
                    }
                    p {
                        height: 18px;
                        text-align: center;
                        margin: 0 14px;
                        font-size: 12px;
                        color: #b0b0b0;
                    }
                }
            }
        }
    }
}

.hv,
.hw {
    width: 1226px;
    margin: 0 auto;
}