.page_main {
    width: 100%;
    position: relative;
    .contain_main {
        .bg_bo {
            background-color: #f5f5f5;
            width: 100%;
            height: 40px;
            .bd_nav {
                width: 1226px;
                margin: 0 auto;
                .bodtitle {
                    width: 100%;
                    height: 40px;
                    font-size: 12px;
                    line-height: 40px;
                    color: #757575;
                    a:hover {
                        cursor: pointer;
                        color: #ff6700;
                    }
                }
            }
        }
        .search_item {
            width: 100%;
            background: #fff;
            .search_list {
                width: 1226px;
                margin: 0 auto;
                // background-color: chartreuse;
                .it_list {
                    height: 48px;
                    position: relative;
                    overflow: hidden;
                    border-top: 1px solid #ededed;
                    padding: 0 60px 0 124px;
                    margin: 0;
                    list-style: none;
                    font-size: 0;
                    span {
                        position: absolute;
                        height: 20px;
                        line-height: 20px;
                        padding: 14px 0;
                        font-size: 14px;
                        top: 0;
                        left: 0;
                        color: #b0b0b0;
                    }
                    li {
                        display: inline-block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: #424242;
                        font-size: 14px;
                        width: 148px;
                        padding: 14px 0;
                        height: 20px;
                        line-height: 20px;
                        a {
                            width: 148px;
                            display: inline-block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            color: #424242;
                        }
                        a:hover {
                            color: #ff6700;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .res_ord {
            padding: 20px 0 100px;
            background-color: #f5f5f5;
            .ord_list {
                width: 1226px;
                margin: 0 auto;
                .head_ord {
                    position: relative;
                    height: 30px;
                    margin: 20px 0;
                    .head_ord_list {
                        float: left;
                        height: 30px;
                        line-height: 30px;
                        li {
                            float: left;
                            padding: 0 30px;
                            border-left: 1px solid #e0e0e0;
                            line-height: 20px;
                            a {
                                font-size: 14px;
                                color: #424242;
                            }
                            a:hover {
                                cursor: pointer;
                                color: #ff6700;
                            }
                        }
                    }
                    .type_list {
                        float: right;
                        height: 30px;
                        line-height: 30px;
                        li {
                            float: left;
                            margin-left: 30px;
                            a {
                                display: inline-block;
                                width: 100px;
                                height: 18px;
                                margin-right: 8px;
                                // border: 1px solid #e0e0e0;
                                // background-color: #fff;
                                vertical-align: -2px;
                                font-size: 16px;
                                line-height: 18px;
                                text-align: center;
                            }
                            a:hover {
                                cursor: pointer;
                                color: #ff6700;
                            }
                        }
                    }
                }
            }
            .wrap {
                box-sizing: border-box;
                width: 1226px;
                margin: 20px auto 0;
                background: #fff;
                padding: 20px 42px;
                p {
                    display: inline-block;
                    height: 42px;
                    line-height: 42px;
                    font-size: 14px;
                    margin: 0;
                    color: #b0b0b0;
                    width: 210px;
                }
                span {
                    display: inline-block;
                    height: 42px;
                    line-height: 42px;
                    font-size: 14px;
                    width: 108px;
                    color: #333;
                    a {
                        color: #424242;
                        cursor: pointer;
                    }
                }
            }
            .good_list_box {
                width: 1226px;
                margin: 0 auto;
                .good_list {
                    width: 1240px;
                    .good_item {
                        position: relative;
                        float: left;
                        width: 296px;
                        height: 383px;
                        padding-top: 47px;
                        margin-right: 14px;
                        margin-bottom: 14px;
                        text-align: center;
                        background: #fff;
                        transition: box-shadow .5s linear, -webkit-box-shadow .5s linear;
                        .figure {
                            width: 200px;
                            height: 200px;
                            margin: 0 auto 16px;
                            a {
                                color: #757575;
                                img {
                                    width: 200px;
                                    height: 200px;
                                }
                            }
                        }
                        h2 {
                            margin: 0 auto;
                            width: 230px;
                            font-size: 14px;
                            font-weight: 400;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            a {
                                color: #424242;
                                font-size: 14px;
                                font-weight: 400;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                        p {
                            margin: 0 0 15px;
                            span {
                                color: #ff6700;
                                font-size: 14px;
                            }
                        }
                        .thub {
                            width: 100%;
                            height: 37px;
                            overflow: hidden;
                            ul {
                                li {
                                    display: inline-block;
                                    width: 34px;
                                    height: 34px;
                                    margin: 0 4px;
                                    border: 1px solid #e0e0e0;
                                    cursor: pointer;
                                    -webkit-transition: border-color .2s linear;
                                    transition: border-color .2s linear;
                                    a {
                                        img {
                                            width: 34px;
                                            height: 34px;
                                        }
                                    }
                                }
                            }
                        }
                        .flag {
                            position: absolute;
                            overflow: hidden;
                            left: 0;
                            bottom: 36px;
                            z-index: 1;
                            width: 100%;
                            font-size: 0;
                            max-height: 18px;
                            text-align: center;
                            .new_lab {
                                display: inline-block;
                                cursor: default;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                background: #83c44e;
                                border-radius: 2px;
                                text-align: center;
                                font-weight: 300;
                                font-size: 13px;
                                margin-right: 4px;
                                color: #fff;
                                height: 18px;
                                width: 42px;
                                vertical-align: top;
                            }
                            .sale_label {}
                        }
                    }
                }
            }
        }
    }
}